.navigation {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dce1e5;
}

.navigation a {
    text-align: center;
    padding: 25px;
    height: 75px;
    font-size: 17px;
    font-weight: 500;
    line-height: 150%;
    color: #585d64;
}

nav a:hover {
    background-color: #f5f6f7;
    color: #1e2a3c;
    border-bottom: 3px solid #1e2a3c;
}

.grid-view {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px; 
}

.grid-item-link {
    display: inline-block; 
    text-decoration: none; 
}

.grid-item {
    border: 1px solid #f5f6f7;
    border-radius: 5px;
    position: relative;
    width: 185px;  
    height: 370px;  
    transition: transform 0.3s ease-in-out; 
}

.grid-item-link:hover .grid-item {
    transform: scale(1.05);
}

.grid-item .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}

.grid-item-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;  
    height: 375px;  
    background-image: linear-gradient(180deg, #f5f6f700 0%, #f5f6f780 60%, #f5f6f7e6 80%, #f5f6f7 100%);
    z-index: 1;
}

.grid-item .platform {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 3px;
    bottom: 5px; 
    margin-left: 5px;
}

.grid-item .title {
    position: absolute;
    width: 100%;
    bottom: 40px; 
    color: #263747;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.grid-item .author {
    position: absolute;
    width: 100%;
    bottom: 15px;
    font-size: 15px; 
    text-align: center;
    color: #263747;
}

.list-view {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f6f7;
}

.list-item-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.list-item .thumbnail {
    width: 110px;
    height: 55px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #f5f6f7;
    border-radius: 5px;
}

.list-item-info {
    display: flex;
    flex-direction: column;
}

.list-item-detail {
    display: flex;
}

.list-item .platform {
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.list-item .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.list-item .author {
    font-size: 13px;
    color: #777;
}

@media (max-width: 600px) {
    .navigation a {
        padding: 10px;
    }
    
    .grid-item {
        width: 125px;  
        height: 250px;  
        transition: transform 0.3s ease-in-out; 
    }

    

    .grid-item-info {
        width: 130px;  
        height: 255px;  
    }
}